.nav__home a:hover {
    color: #8b620a;
}

.nav__classmates a:hover,
.nav__photos a:hover,
.contact a:hover {
    color: rgb(185, 185, 185);
}

.card {
    width: 600px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.teacher_photo {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.teacher_photo img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    transition: transform 0.3s ease; /* Додали анімацію для плавного переходу */
    animation: pulse 1s infinite alternate; /* Додаємо анімацію "пульсації" */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Адаптація для мобільних пристроїв */
@media (max-width: 600px) {
    .card {
        width: 100vw; /* Змінюємо ширину на весь видимий екран на мобільних пристроях */
    }
}
